# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
ENV/

# Distribution / packaging
*.egg-info/
dist/
build/

# Data and DB files
*.db
*.sqlite3
*.csv

# Logs and system files
*.log
.DS_Store

# Python environment settings
*.env
.env.*

# Jupyter and IPython
.ipynb_checkpoints

# Streamlit cache
.streamlit/

# VSCode
.vscode/

# Temporary environments
test_env/

# Coverage/test artifacts
.pytest_cache/
.coverage
htmlcov/

# OS junk files
Thumbs.db

# Model artifacts
*.pkl
*.joblib
